/* 
    Document   : feedback_page
    Created on : 16 Feb, 2023, 8:13:45 PM
    Author     : Jilani
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

 body
   {
     background-image: url(images/back1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   }
            

.whitediv
{
    height: 650px;
    width: 650px;
    background-color: white;
    margin-left: 40%; 
    font-size:120%; 
}
.textbox
{
 height:100px;
 width:80%;
 margin-left: 10%;
 margin-top: 2%;
    
}
.button
{
    height: 50px;
    width: 60%;
    margin-left: 15%;
    margin-top: 100%;
    border: none;
    background-color:orange; 
    color:white;
}
.button1
{
    height: 50px;
    width: 60%;
    margin-left: 15%;
    margin-top: 100%;
    border: none;
    background-color:  #717d7e ; 
    color:white;
}
